
.more_button {
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
  border-radius: 5px;
  color: #000;
  background: rgb(240, 240, 240);
  transition: 0.1s linear;
  padding: 2px 5px;
}

.more_button:hover {
  background: #000;
  color: rgb(208, 209, 193);
}
