@import 'reset.css';
@import 'header.css';
@import 'container-main.css';
@import 'team.css';
@import 'event.css';
@import 'check_requests.css';
@import 'personal.css';
@import 'admin.css';
@import 'ruleTeams.css';

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.container-main {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  color: black;
}
